{
    "lrs": {
        "username": "",
        "password": "",
        "endpoint": "",
        "version": ""
    },
    "diagnostics": {
        "requestCount": false,
        "stepHash": false
    },
    "persistence": {
        "statementStore": "./var/statements",
        "statementRead": [],
        "adhocValid": [],
        "adhocInvalid": []
    },
    "stage1": {
        "featureSpec": "features",
        "pending": {}
    }
}
