{
    "lrs": {
        "username": "",
        "password": "",
        "endpoint": "",
        "version": ""
    },
    "diagnostics": {
        "requestCount": false,
        "stepHash": false
    },
    "stage1": {
        "featureSpec": "features",
        "pending": {}
    }
}
